{% extends 'base.html.twig' %}

{% block title %}Artistes
{% endblock %}
{% block h1 %}Back office
{% endblock %}

{% block body %}

	<a href="{{ path('app_admin_artiste_index')}}">Mes artistes</a>
{% endblock %}
