{% extends 'base.html.twig' %}

{% block title %}Artistes
{% endblock %}
{% block h1 %}Back office
{% endblock %}

{% block body %}

	<a class="btn btn-success" href="{{ path('app_admin_artiste_index')}}">Mes artistes</a>

	<a class="btn btn-warning" href="{{ path('app_admin_salle_index')}}">Mes salles</a>
{% endblock %}
