<footer class="footer mt-auto py-4" style="background-color: var(--color-lightgreen);">
    <div class="container text-center">
        <p class="mb-2">Kastone Productions, tous droits réservés. &copy; {{ "now"|date("Y") }}</p>
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="#" class="text-decoration: underline">Mentions légales</a></li>
            <li class="list-inline-item"><a href="#" class="text-decoration: underline">Politique de confidentialité</a></li>
            <li class="list-inline-item"><a href="#" class="text-decoration: underline">Contact</a></li>
        </ul>
    </div>
</footer>