{% extends 'base.html.twig' %}

{% block title %}Nouvelle salle{% endblock %}
{% block h1 %}Nouvelle salle{% endblock %}

{% block body %}

<div class="admin-section">

    <div class="admin-section-header">
        <a href="{{ path('app_admin_salle_index') }}" class="btn-back">← Retour aux salles</a>
    </div>

    <div class="admin-form-card">
        {{ include('admin_salle/_form.html.twig', { button_label: 'Créer la salle' }) }}
    </div>

</div>

{% endblock %}
