{% extends "email/base.html.twig" %}

{% block body %}

    <p>Bienvenue sur Kastone ! Nous sommes ravis de vous compter parmi nos membres.</p>

    <p>Votre compte a bien été créé avec l'adresse email suivante : <strong>{{ user.email }}</strong></p>

    <p>Vous pouvez dès à présent vous connecter.</p>

{% endblock %}
