<!DOCTYPE html>
<html lang="fr">
<head>
</head>
<body style="background:#5BA0C2">
    <img 
    src="http://127.0.0.1:8000/images/logo2.png" 
    alt="logo"
    style="display:block; width:200px; margin: 50px auto 20px auto"
    >
    <main style="color:#212529; width:60%; margin:0 auto; padding:10px; font-size: 20px; font-weight:700">
        <p>Bonjour,</p>
        {% block body %}{% endblock %}
        <p>À très vite,</p>
        <p>Kastone Productions</p>
    </main>
</body>
</html>